<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pumabus Assisted Travel - Results</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <header class="header">
        <div class="image-box">
            <img src="/static/img/logo.png" alt="PumabusLogo">
        </div>
        <h1>PumaBus Assisted Travel</h1>
    </header>
    <main class="content column">
        {% if not encontrado %}
            <p>{{ mensaje }}</p>
            <a href="/">Back to search</a>
        {% else %}

        <div class="result-container">

            <!-- LEFT COLUMN -->
            <div class="result-left">
                <h2>Total Time: {{ costo }} min</h2>

                <div class="result-bottom">
                    <a class="button_gnrc" href="/">New Search</a>
                </div>
            </div>

            <!-- RIGHT COLUMN -->
            <div class="result-right">
                <h3>Path:</h3>

                <p class="path">
                {% for est, linea in pasos %}
                    <span class="route route-{{ linea }}">{{ est.replace("_", " ") }} ({{ linea }})</span>
                    {% if not loop.last %}
                        <span class="arrow route-{{ pasos[loop.index][1] }}"> ⇨ </span>
                    {% endif %}
                {% endfor %}
                </p>
            </div>

        </div>

        {% endif %}

    </main>
</body>
</html>
